body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 50px;
    text-align: center;
    background-image: url(./image/background.png);
}

.message-container {
    display: block;
}

.title {
    display: none;
    /* Ẩn bước tiếp theo cho đến khi bấm NEXT */
}

p {
    font-size: 18px;
    line-height: 1.3;
    color: #333;
    width: 80%;
    margin: 20px auto;
    white-space: pre-wrap;
    overflow: hidden;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

p::after {
    content: '';
    display: inline-block;
    animation: blink 1s step-end infinite;
}

.message-next {
    padding: 8px 16px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    display: none;
    border-radius: 30px;
    border: 1px solid #d5d5d5;
    /* Nút NEXT ẩn cho đến khi chữ chạy xong */
}

.message-next:hover{
    color: #ccc;
}

.choice {
    margin-top: 20px;
}

.choose {
    padding: 8px 16px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: 1px solid #d5d5d5;
    border-radius: 30px;
}

.choose:hover {
    color: #ccc;
}

#background-gif {
    width: 100%;
    height: 200px;
    background-image: url('https://media.giphy.com/media/l0MYt5jPR6QWGoQnu/giphy.gif'); 
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    height: 250px;
}

#result p {
    font-size: 24px;
    color: #28a745;
    font-weight: bold;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
}

/*  Responsive  */
@media only screen and (max-width: 600px) {
    .choose {
        padding: 6px 12px;
        font-size: 14px;
        margin: 8px;
    }

    #background-gif {
        height: 200px;
    }

    #result p {
        font-size: 20px;
    }

    .title h1 {
        font-size: 20px;
    }
}

/* Tablets */
@media only screen and (min-width: 601px) and (max-width: 768px) {
    .choose {
        padding: 7px 14px;
        font-size: 15px;
        margin: 9px;
    }

    #background-gif {
        height: 220px;
    }

    #result p {
        font-size: 22px;
    }

    .title h1 {
        font-size: 22px;
    }
}

/* Desktops and laptops */
@media only screen and (min-width: 769px) {
    .choose {
        padding: 8px 16px;
        font-size: 16px;
        margin: 10px;
    }

    #background-gif {
        height: 250px;
    }

    #result p {
        font-size: 24px;
    }

    .title h1 {
        font-size: 24px;
    }
}
